/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
  --green: #1cc88a;
	--light: #f7f7f7;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

body {
  background-color:#f8f9fa;
}

.sidebar{
  width: 240px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  position: fixed; /* Rend la barre latérale fixe */
  height: 100%; /* Prend toute la hauteur de la fenêtre */
  top: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar .logo h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin:30px 0;
  border-radius:3px;
  padding: 10px 20px;
  color: #555;
  cursor: pointer;
}

.sidebar nav ul li a {
  text-decoration:none;
  padding: 10px 20px;
  color: #555;
  cursor: pointer;
}

.sidebar nav ul .lien:hover {
  width:100%;
  background-color: #dadada;
}

.sidebar nav ul .lien.active {
  background-color: #f1f1f1;
}
/* 
.sidebars {
  background:#ffff;
} */

.admins .liens {
  text-decoration:none;
  color:#262626;
  font-size:14px;
}

.admins .liens:hover {
  color:#1cc88a;
}

.admins .liens.active {
  color:green;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card.blue {
  background-color: #4e73df;
}

.card.light-blue {
  background-color: #36b9cc;
}

.card.purple {
  background-color: #6f42c1;
}

.card.green {
  background-color: #1cc88a;
}

.card h3 {
  color: #fff;
  margin-top: 0;
  font-size: 1.2em;
}

.card p {
  color: #fff;
  font-size: 2em;
  margin: 10px 0;
}

.card span {
  color: #fff;
  font-size: 0.9em;
}

.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: white;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing:3px;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #0b1c3a;
}
.sidebar .nav-links li a:hover{
  background: #0a2351;
}


.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  font-size: 15px;
  font-weight: bolder;
  font-family:sans-serif;
  /* font-style: italic; */
  white-space: nowrap;
}

.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}

.dashboard {
  color:rgb(9, 181, 9);
}

.sidebar-button h3 {
  letter-spacing:3px;
}

.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}

.dashboards{
  position: absolute;
  top:20%;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}


.table-data {
  position:relative;
  left:1%;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
.table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
.table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
.table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
.table-data .head .bx {
	cursor: pointer;
}

.table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
.table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
.table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
.table-data .order table td {
	padding: 16px 0;
}
.table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
.table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
.table-data .order table tbody tr:hover {
	background: var(--grey);
}
.table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
.table-data .order table tr td .status.completed {
	background: var(--green);
}
.table-data .order table tr td .status.process {
	background: var(--yellow);
}
.table-data .order table tr td .status.pending {
	background: var(--orange);
}


/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
